* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 0);
}

#navbar {
    margin: 25px;
    margin-left: 100px;
    padding: 25px;
    display: flex;
    align-items: center;
    /* animation: ups 2s; */
}

#navbar .portfolio {
    font-size: 22px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    color: white;
}

#navbar .nav {
    width: 600px;
    margin-left: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar a {
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    color: rgb(255, 255, 255);
}

#navbar a:hover {
    text-decoration: underline;
}

.middle {
    width: 1000px;
    padding: 80px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

/* .info {
    animation: rights 2s;
} */

.info h1 {
    margin-top: 25px;
    animation: change 3s infinite linear;
}

/* .my-pic {
    animation: lefts 2s;
} */

.my-pic img {
    transform: rotate(-45deg);
    animation: glow-shadow 6s infinite alternate;
}

.icons {
    width: 300px;
}

.icons img {
    border-radius: 50%;
    margin-top: 20px;
}

@keyframes change {
    0% {
        color: rgb(0, 255, 255, 0.7);
    }

    25% {
        color: rgb(127, 255, 212, 0.7);
    }

    50% {
        color: rgb(222, 184, 135, 0.7);
    }

    75% {
        color: rgb(0, 255, 255, 0.7);
    }

    100% {
        color: rgb(0, 255, 255, 0.7);
    }
}

@keyframes glow-shadow {
    0% {
        box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.9);
    }

    10% {
        box-shadow: 0 0 20px 5px rgba(255, 251, 0, 0.9);
    }

    20% {
        box-shadow: 0 0 20px 5px rgba(0, 255, 0, 0.9);
    }

    30% {
        box-shadow: 0 0 20px 5px rgba(0, 251, 255, 0.9);
    }

    40% {
        box-shadow: 0 0 20px 5px rgba(0, 0, 255, 0.9);
    }

    50% {
        box-shadow: 0 0 20px 5px rgba(217, 0, 255, 0.9);
    }

    60% {
        box-shadow: 0 0 20px 5px rgba(255, 0, 0, 0.9);
    }

    70% {
        box-shadow: 0 0 20px 5px rgba(255, 128, 0, 0.9);
    }

    80% {
        box-shadow: 0 0 20px 5px rgba(16, 129, 18, 0.9);
    }

    90% {
        box-shadow: 0 0 20px 5px rgba(255, 255, 0, 0.9);
    }

    100% {
        box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.9);
    }
}

@keyframes lefts {
    from {
        transform: translate(100px);
        opacity: 0;
    }

    to {
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes rights {
    from {
        transform: translate(-100px);
        opacity: 0;
    }

    to {
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes ups {
    from {
        transform: translateY(-100px);
        opacity: 0;
    }

    to {
        transform: translate(0);
        opacity: 1;
    }
}